version: '3'
services:
  pg_runoff:
    build:
      context: .
      args:
        - BASE=$BASE
        - SCHEMA=$SCHEMA
    image: siose-innova/preinstalled-pg_runoff:$VERSION-$SUBTAG
    container_name: pg_runoff_host
    networks:
      - ext_packaging

  ext-creator:
    image: siose-innova/ext-creator:11.6
    environment:
      - HOST=pg_runoff_host
      - DB=$DB
      - USER=postgres
      - EXTNAME=pg_runoff
    networks:
      - ext_packaging

networks:
  ext_packaging:
